@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(8, 8, 8);
}

.root-logo {
  display: block;
  padding: 80px 0 80px 0;
  width: 400px;
  margin: 0 auto;
}

.root-ronnie1 {
  display: block;
  margin: 0 auto;
}

.root-body {
  background-image: url(assets/img/grain.jpg);
  background-size: auto;
  background-repeat: round;
  width: 100%;
}

header {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  transition: padding 0.5s ease-in-out; /* Adjusted timing and added easing */
}

.root-body h1 {
  padding-top: 90px;
  text-align: center;
  color: rgb(235, 48, 34);
  font-family: "splash", sans-serif;
  line-height: 1.5;
}
.header-title {
  margin: 0;
  transition: font-size 0.5s ease-in-out; /* Adjusted timing and added easing */
}

.header.shrink {
  padding: 10px 0;
  font-size: 10px;
}

.header.shrink .header-title {
  font-size: 5em;
}

/*Header component*/
#main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
}

#main-navigation img {
  padding: 10px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

.content-break {
  height: 100px;
  background-image: linear-gradient(
    180deg,
    rgba(13, 13, 13, 1),
    rgba(255, 0, 0, 0)
  );
}

.content-break-album-container {
  height: 100px;
  background-image: linear-gradient(180deg, rgb(8, 8, 8), rgb(235, 48, 34));
}

.albums-body {
  color: #eb3022;
}

.albums-body h2 {
  padding: 20px;
  font-family: "libre-bodoni", serif;
  font-weight: 400;
  font-style: normal;
}

.albums-body ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

.albums-body ul li {
  padding: 10px;
}

.albums-body ul li p {
  font-family: "libre-bodoni", serif;
}

.albums h1,
h2 {
  color: #eb3022;
  font-family: "libre-bodoni", serif;
}

.album-extra-content {
  background-color: #eb3022;
}

.music-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iframe-wrapper {
  width: 100%;
  max-width: 560px;
}
.music-video-player {
  width: 100%;
  height: 315px;
  border: none;
}
